* @datarobot-oss/cli-maintainers
cmd/workload/ @datarobot-oss/workload-cli
internal/workload/ @datarobot-oss/workload-cli
cmd/pipeline/ @datarobot-oss/compute-services
internal/pipeline/ @datarobot-oss/compute-services
docs/commands/pipeline*.md @datarobot-oss/compute-services
