name: Smoke Tests Matrix

on:
  workflow_call:
    inputs:
      os-matrix:
        description: 'OS matrix for smoke tests'
        required: false
        type: string
        default: '["ubuntu-latest", "macos-latest"]'
      go-version:
        description: 'Go version to use'
        required: false
        type: string
        default: '1.25.6'
      ref:
        description: 'Git ref to checkout (for fork PRs)'
        required: false
        type: string
    secrets:
      DR_API_TOKEN:
        required: true


jobs:
  smoke-test:
    strategy:
      matrix:
        sys:
          - { os: ubuntu-latest, shell: bash }
          - { os: macos-latest, shell: "zsh {0}" }
    defaults:
      run:
        shell: ${{ matrix.sys.shell }}
    runs-on: ${{ matrix.sys.os }}
    name: Run Smoke Tests (${{ matrix.sys.os }})
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.ref }}

      - name: Ubuntu - Install dependencies w/ apt-get
        if: matrix.sys.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y expect bash-completion

      - name: MacOS - Install dependencies w/ homebrew
        if: matrix.sys.os == 'macos-latest'
        run: |
          brew install expect bash-completion

      - name: Install yq
        uses: dcarbone/install-yq-action@v1.3.1

      - name: Install Taskfile
        uses: arduino/setup-task@v2
        with:
          version: '3.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}

      - name: Build the DR CLI Binary
        run: task build

      - name: Move the Binary
        run: sudo mv ./dist/dr /usr/local/bin/dr

      - name: Run Smoke Tests for Binary
        env:
          DR_API_TOKEN: ${{ secrets.DR_API_TOKEN }}
        run: |
          task smoke-test DR_API_TOKEN="$DR_API_TOKEN"
