name: Checks

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
      - master

  pull_request:
    branches:
      - main
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint Code

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.3'

      - name: Install Taskfile
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      # cache go modules
      - uses: actions/cache@v4
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          # * Build cache (Mac)
          # * Build cache (Windows)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            %LocalAppData%\go-build
            bin
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run Golang Lint Command
        run: |
          task lint

  test:
    runs-on: ubuntu-latest
    name: Run Tests

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.3'

      - name: Install Taskfile
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/cache@v4
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          # * Build cache (Mac)
          # * Build cache (Windows)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            %LocalAppData%\go-build
            bin
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run Golang Test Command
        run: |
          task test

  copyright:
    runs-on: ubuntu-latest
    name: Copyrights

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Check License Header
        uses: apache/skywalking-eyes/header@main
        with:
          config: .licenserc.yaml

  generate:
    runs-on: ubuntu-latest
    name: Ensure Code Generated

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Taskfile
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.3'

      - name: Install Envdoc
        run: |
          go install github.com/g4s8/envdoc@latest

      - name: Add Go Bin to PATH
        run: |
          echo "${{ github.workspace }}/go/bin" >> "$GITHUB_PATH"

      - name: Ensure Code Generated
        run: |
          task gen-check

  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Build Binary
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Taskfile
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.3'

      - name: Build the DR CLI Binary
        run:  task build

      - name: Check if binary runs without errors
        shell: bash
        run: |
          ./dist/dr --help

  smoke-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    name: Run Smoke Tests
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Ubuntu - Install expect w/ apt-get
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y expect

      - name: MacOS - Install expect w/ homebrew
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          brew install expect

      - name: Install yq
        uses: dcarbone/install-yq-action@v1.3.1

      - name: Install Taskfile
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.3'

      - name: Build the DR CLI Binary
        run:  task build

      - name: Move the Binary
        run:  sudo mv ./dist/dr /usr/local/bin/dr

      - name: Run Smoke Tests for Binary
        env:
          DR_API_TOKEN: ${{ secrets.DR_API_TOKEN }}
        run: |
          task smoke-test DR_API_TOKEN="$DR_API_TOKEN"

  smoke-test-windows:
    runs-on: windows-latest
    name: Run Smoke Tests (windows-latest)
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Taskfile
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.3'

      - name: Use Go Releaser to Build Windows Executable
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser # Other value is 'goreleaser-pro'
          version: '~> v2'
          args: release --snapshot --clean --skip homebrew --skip archive

      - name: Move the Executable to Newly Created Directory and add to PATH
        shell: powershell
        run: |
          # Create new directory
          $INSTALL_DIR = "$env:LOCALAPPDATA\Programs\dr"
          mkdir "$INSTALL_DIR"

          # Move executable to newly created directory
          mv .\dist\windows_windows_amd64_v1\dr.exe "$INSTALL_DIR"

          # Add to PATH (GitHub Actions specific approach)
          echo "$INSTALL_DIR" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Run Smoke Tests for Binary
        run: |
          task smoke-test-windows

  smoke-test-installs:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Run Installation
    steps:
      - name: Install for Ubuntu and MacOS
        if: ${{ matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest' }}
        run: |
          yes | curl -fsSL https://cli.datarobot.com/install | sh

      - name: Install for windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          $responses = @('y', 'y')
          $input = $responses -join "`n"
          $input | irm https://cli.datarobot.com/winstall | iex

      - name: Check DR runs without errors (Ubuntu and MacOS)
        if: ${{ matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest' }}
        shell: bash
        run: |
          dr --help

      - name: Check DR runs without errors (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        shell: powershell
        run: |
          C:\Users\runneradmin\AppData\Local\Programs\dr\dr.exe --help
